#!/bin/bash

USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36"

WGET_OPTS="-q"

DOWNLOAD_PAGE="https://www.minecraft.net/en-us/download/server/bedrock"

BRAINFREE_RLEASE_URL="https://github.com/vt520/brainfree-bedrock-server/tarball/master"
BRAINFREE_TARBALL="brainfree-bedrock-server.tzg"

INSTALL_BASE=~

CURRENT_INSTALL="${INSTALL_BASE}/bedrock-server"

PREVIOUS_INSTALL="${INSTALL_BASE}/previous-bedrock-server"

SCREEN_NAME="bedrock-server.$(id -u)"

SERVICES_SERVER="bedrock-server.service"
SERVICES_UPDATES="bedrock-updates.timer bedrock-updates.service"
SERVICES="${SERVICES_SERVER} ${SERVICES_UPDATES}"
START_SERVICES="${SERVICES_SERVER}"
