#!/bin/bash
[ ${CONFIG_LOADED}0 -gt 9 ] || {
  CONFIG_LOADED=1
  INSTALL_BASE=~
  USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36"
  WGET_OPTS="-q"
  DOWNLOAD_PAGE="https://www.minecraft.net/en-us/download/server/bedrock"
  BRAINFREE_RLEASE_URL="https://github.com/vt520/brainfree-bedrock-server/tarball/master"
  BRAINFREE_TARBALL="brainfree-bedrock-server.tzg"
  SELECTED_RELEASE_NAME="selected-bedrock-server"
  PREVIOUS_RELEASE_NAME="previous-bedrock-server"
  SELECTED_INSTALL="${INSTALL_BASE}/${SELECTED_RELEASE_NAME}"
  PREVIOUS_INSTALL="${INSTALL_BASE}/${PREVIOUS_RELEASE_NAME}"
  BEDROCK_SERVICE="bedrock-server.service"
  BEDROCK_SERVICES="${BEDROCK_SERVER}"
  UPDATE_SERVICES="bedrock-updates.timer bedrock-updates.service"
  SERVICES="${BEDROCK_SERVICES} ${UPDATE_SERVICES}"
  AUTO_SERVICES="${SERVICES_SERVER}"
  AUTO_TIMERS="bedrock-updates.timer"
  SCREEN_NAME="bedrock-server.$(id -u)"
}
